// Navigation arrows
.arrow {
  position: absolute;
  top: 45%;
  &--previous {
    left: 0px;
  }
  &--next {
    right: 0px;
  }
}

// Content container styling
.content {
  img {
    width: 100%;
  }
}

// Cards
.card {
  position: relative;
  width: 100%;
  .header-container {
    h1 {
      font-size: 2em;
    }
  }
  &--home {
    .header-container {
      text-align: center;
      @include vertical-align();
      top: 45%;
      h1 {
        margin-top: 0px;
        margin-bottom: .35em;
        font-size: 6.75vw !important;
      }
      h3 {
        margin: 0px 0px;
        color: $blue;
        max-width: 435px;
        margin: 0 auto;
      }
    }
    .cta-container {
      text-align: center;
      position: absolute;
      background-color: $lightgrey;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 25px 0px;
      h4 {
        margin-top: 0px;
      }
    }
  }
  &--intro {
    .header-container {
      margin-top: 2em;
      h1 {
        color: $gold;
        margin-top: 0px;
      }
    }
    .experience-container {
      @include vertical-align();
      position: absolute;
      width: 100%;
      text-align: center;
      left: 0px;
      .sticker-container {
        margin-top: 25px;
        .sticker {
          &__inner {
            text-align: center;
            margin: 0 auto;
            position: relative;
            width: 175px;
            border-radius: 50%;
            border: 2px solid $black;
            padding: 5px 25px;
          }
        }
      }
    }
  }
  &--feature {
    .header-container {
      margin-top: 2em;
      h1 {
        color: $gold;
        margin-top: 0px;
      }
    }
    .feature-container {
      @include vertical-align();
      position: absolute;
      width: calc(100% - 30px);
      text-align: center;
    }
  }
  &--benefits {
    .header-container {
      margin-top: 2em;
      h1 {
        color: $gold;
        margin-top: 0px;
      }
    }
    .body-container {
      text-align: center;
      @include vertical-align();
      position: absolute;
      width: calc(100% - 30px);
      .cta-container {
        button {
          cursor: pointer;
          background-color: $blue;
          color: #fff;
          border: none;
          border-radius: 20px;
          padding: 8px 15px;
          margin-top: 5px;
        }
      }
    }
  }
}
