.row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 25px;  //Temp
  .col {
    margin: 0% 1.51529%;
    align-self: stretch;
    background: grey;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
    &--1 {
      flex-basis: 5.555%;
      margin: 0% 1.51529%;
    }
    &--2 {
      flex-basis: 14.14058%;
      margin: 0% 1.51529%;
    }
    &--3 {
      flex-basis: 22.72616%;
      margin: 0% 1.51529%;
    }
    &--4 {
      flex-basis: 31.31174%;
      margin: 0% 1.51529%;
    }
    &--5 {
      flex-basis: 39.89732%;
      margin: 0% 1.51529%;
    }
    &--6 {
      flex-basis: 48.48290%;
      margin: 0% 1.51529%;
    }
    &--7 {
      flex-basis: 57.06848%;
      margin: 0% 1.51529%;
    }
    &--8 {
      flex-basis: 65.65406%;
      margin: 0% 1.51529%;
    }
    &--9 {
      flex-basis: 74.23964%;
      margin: 0% 1.51529%;
    }
    &--10 {
      flex-basis: 82.82522%;
      margin: 0% 1.51529%;
    }
    &--11 {
      flex-basis: 91.41080%;
      margin: 0% 1.51529%;
    }
    &--12 {
      flex-basis: 100%;
      margin: 0px 0px;
    }
    &--desktop {
      &--1 {
        flex-basis: 5.555%;
        margin: 0% 1.51529%;
      }
      &--2 {
        flex-basis: 14.14058%;
        margin: 0% 1.51529%;
      }
      &--3 {
        flex-basis: 22.72616%;
        margin: 0% 1.51529%;
      }
      &--4 {
        flex-basis: 31.31174%;
        margin: 0% 1.51529%;
      }
      &--5 {
        flex-basis: 39.89732%;
        margin: 0% 1.51529%;
      }
      &--6 {
        flex-basis: 48.48290%;
        margin: 0% 1.51529%;
      }
      &--7 {
        flex-basis: 57.06848%;
        margin: 0% 1.51529%;
      }
      &--8 {
        flex-basis: 65.65406%;
        margin: 0% 1.51529%;
      }
      &--9 {
        flex-basis: 74.23964%;
        margin: 0% 1.51529%;
      }
      &--10 {
        flex-basis: 82.82522%;
        margin: 0% 1.51529%;
      }
      &--11 {
        flex-basis: 91.41080%;
        margin: 0% 1.51529%;
      }
      &--12 {
        flex-basis: 100%;
        margin: 0px 0px;
      }
    }
    &--tablet {
      @include respond-to(tablet) {
        &--1 {
          flex-basis: 5.555%;
          margin: 0% 1.51529%;
        }
        &--2 {
          flex-basis: 14.14058%;
          margin: 0% 1.51529%;
        }
        &--3 {
          flex-basis: 22.72616%;
          margin: 0% 1.51529%;
        }
        &--4 {
          flex-basis: 31.31174%;
          margin: 0% 1.51529%;
        }
        &--5 {
          flex-basis: 39.89732%;
          margin: 0% 1.51529%;
        }
        &--6 {
          flex-basis: 48.48290%;
          margin: 0% 1.51529%;
          &:first-child {
            margin-left: 0px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
        &--7 {
          flex-basis: 57.06848%;
          margin: 0% 1.51529%;
        }
        &--8 {
          flex-basis: 65.65406%;
          margin: 0% 1.51529%;
        }
        &--9 {
          flex-basis: 74.23964%;
          margin: 0% 1.51529%;
        }
        &--10 {
          flex-basis: 82.82522%;
          margin: 0% 1.51529%;
        }
        &--11 {
          flex-basis: 91.41080%;
          margin: 0% 1.51529%;
        }
        &--12 {
          flex-basis: 100%;
          margin: 0px 0px;
        }
      }
    }
    &--mobile {
      @include respond-to(mobile) {
        &--1 {
          flex-basis: 5.555%;
          margin: 0% 1.51529%;
        }
        &--2 {
          flex-basis: 14.14058%;
          margin: 0% 1.51529%;
        }
        &--3 {
          flex-basis: 22.72616%;
          margin: 0% 1.51529%;
        }
        &--4 {
          flex-basis: 31.31174%;
          margin: 0% 1.51529%;
        }
        &--5 {
          flex-basis: 39.89732%;
          margin: 0% 1.51529%;
        }
        &--6 {
          flex-basis: 48.48290%;
          margin: 0% 1.51529%;
          &:first-child {
            margin-left: 0px;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
        &--7 {
          flex-basis: 57.06848%;
          margin: 0% 1.51529%;
        }
        &--8 {
          flex-basis: 65.65406%;
          margin: 0% 1.51529%;
        }
        &--9 {
          flex-basis: 74.23964%;
          margin: 0% 1.51529%;
        }
        &--10 {
          flex-basis: 82.82522%;
          margin: 0% 1.51529%;
        }
        &--11 {
          flex-basis: 91.41080%;
          margin: 0% 1.51529%;
        }
        &--12 {
          flex-basis: 100%;
          margin: 0px 0px;
        }
      }
    }
  }
}
