.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0px 0px;
  .slideshow {
    position: relative;
    padding: 0px 0px;
    .slick-prev {
      left: 15px !important;
      z-index: 9;
    }
    .slick-next {
      right: 15px !important;
      z-index: 9;
    }
    &__slide {
      position: relative;
      height: 95vh;
      &--1 {
        background: indigo;
      }
      &--2 {
        background: salmon;
      }
      &--3 {
        background: green;
      }
      &--4 {
        background: blue;
      }
      &--5 {
        background: yellow;
      }
      .content {
        position: relative;
        width: 100vw;
        &__inner {
          position: relative;
          max-width: 1440px;
          margin: 0 auto;
        }
      }
    }
  }
}
