.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0px 0px;
  .slideshow {
    position: relative;
    padding: 0px 0px;
    .slick-prev {
      left: 15px !important;
      z-index: 9;
    }
    .slick-next {
      right: 15px !important;
      z-index: 9;
    }
    &__slide {
      position: relative;
      height: calc(100vh - 135px);
      .content {
        position: relative;
        width: 100vw;
        height: 100%;
        &__inner {
          position: relative;
          max-width: 1440px;
          margin: 0 auto;
          padding: 0px 15px;
          height: 100%;
        }
      }
      &:focus {
        outline: none !important;
      }
    }
  }
}
