// START: Temp Nav and Footer styling::: Remove for Prod
.temp-nav {
  position: relative;
  width: 100%;
  .main-nav {
    background-color: #111;
    color: #fff;
    width: 100%;
    &__inner {
      position: relative;
      width: 100%;
      height: 75px;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0px 15px;
      h3 {
        @include vertical-align();
        margin: 0px 0px;
      }
    }
  }
  .sub-nav {
    background: #222;
    opacity: 0.6;
    width: 100%;
    height: 30px;
    &__inner {
      position: relative;
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0px 15px;
      p {
        position: relative;
        top: 5px;
        color: #fff;
        margin: 0px 0px;
      }
    }
  }
}
.temp-footer {
  position: relative;
  width: 100%;
  background-color: #111;
  &__inner {
    position: relative;
    width: 100%;
    height: 235px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    color: #fff;
    h3 {
      @include vertical-align();
    }
  }
}
// END: Temp Nav and Footer styling::: Remove for Prod
